* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --font-heading: "Crimson Text", system-ui, serif;
    --font-body: "Work Sans", system-ui, sans-serif;


    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-h6: 1rem;
    --fs-sub: 1.25rem;
    --fs-body: 0.9375rem;
    --fs-label: 1rem;


    --lineHeight: 1.125;
    --black: #212529;
    --backgroundColor: #ffffff;
    --greenColor: #74C89D;


    --black-100: rgb(33 37 41 / 100%);
    --black-75: rgb(33 37 41 / 75%);
    --black-50: rgb(33 37 41 / 50%);
    --black-25: rgb(33 37 41 / 25%);

    --white-100: rgb(255 255 255 / 100%);
    --white-75: rgb(255 255 255 / 75%);
    --white-50: rgb(255 255 255 / 50%);
    --white-25: rgb(255 255 255 / 25%);

    --green-100: rgb(116 200 157 / 100%);
    --green-75: rgb(116 200 157 / 75%);
    --green-50: rgb(116 200 157 / 50%);
    --green-25: rgb(116 200 157 / 25%);

}

body {
    width: 100%;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
}




.Section1 {

    padding-left: 8.125rem;
    padding-right: 8.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--green-100);

}

.section1container {
    padding-top: 2.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: var(--green-100);
}

.header {
    display: flex;
    width: 100%;
    background-color: var(--greenColor);
}

.headercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.25rem 8.125rem;
}

.headercontent {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none !important;
    color: var(--white-100);
    cursor: pointer;
    max-width: 1.504rem;
    margin: 0.479rem 0.342rem;
}




ul {
    list-style-type: none;
    color: white;

    font-family: 'work Sans';
    font-size: var(--fs-sub);
}


li {
    display: inline;
}

.logo {
    max-width:
        11.688rem;
}



.imageTextcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 2.5rem;
    gap: 7.5rem;
}

.textbutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 26rem;

}

.illuImg {
    max-width: 40.268rem;
}

.textColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.938rem;
    max-width: 26rem;
}

h1 {
    font-size: var(--fs-h1);
    font-family: 'crimson text';
    color: var(--white-100);

}

label {
    font-size: var(--fs-label);
    font-family: 'work sans';
    color: var(--white-100);
}

p {
    font-size: var(--fs-body);
    font-family: 'work sans';
    color: var(--white-75);
}

button {
    font-size: var(--fs-sub);
    font-family: 'work sans';
    color: var(--black-100);
    border: none;
    padding: 0.813rem 2.969rem;
    border-radius: 0.313rem;
    max-width: 10.625rem;
    margin-top: 1.563rem;
    background-color: var(--backgroundColor);
    cursor: pointer;
}

button:hover {
    background-color: var(--black);
    color: var(--backgroundColor);
}



.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.section2text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.75rem;
    padding-bottom: 3.438rem;

}

.section4text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 3.438rem;

}

.section2textcontent {
    display: flex;
    flex-direction: column;
    max-width: 25.688rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.labelgreen {
    color: var(--green-100);
    font-family: 'Work Sans';
    font-size: var(--fs-label);
}

span {
    font-size: var(--fs-sub);
    font-family: var(--font-body);
    color: var(--black-100);
}

.h1black {

    font-size: var(--fs-h1);
    font-family: 'crimson text';
    color: var(--black-100);
}

.colorlogos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 8.813rem;
    margin-right: 8.751rem;
    gap: 4.25rem;
    max-width: 72.436rem;
}



.blackbutton {
    text-wrap: nowrap;
    font-size: var(--fs-sub);
    font-family: 'work sans';
    color: var(--white-100);
    border: none;
    width: 10.625rem;
    text-align: center;
    border-radius: 0.313rem;
    margin-top: 3.438rem;
    height: 3rem;
    background-color: var(--black);
    cursor: pointer;
    padding-top: 0.813rem;
    padding-left: 1.844rem;
    padding-right: 1.844rem;
    padding-bottom: 0.625rem;
}

.blackbutton:hover {
    background-color: var(--backgroundColor);
    color: var(--black);
    border: 0.031rem solid var(--black);
    text-align: center;
}

.buttonlogos {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.722rem;
}


.imageTextcontentbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.blacktexth,
.blacktextp {
    color: var(--black) !important;
}

.blacktexth {
    font-family: var(--font-heading);
    font-size: var(--fs-h1);

}

.blacktextp {
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--black-50);

}

.section4 {
    display: flex;
    margin-top: 6.375rem;
    margin-bottom: 3.375rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section4container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 73.5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.938rem;

}

.cardIndiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.25rem 2.438rem;
    background-color: var(--backgroundColor);
    box-shadow: 0.188rem 0.25rem 0.75rem 0.063rem #00000040;
    border-radius: 0.313rem;
    gap: 1.125rem;
}

.bodyText15 {
    font-size: var(--fs-body);
    color: var(--black-75);
}

footer {
    display: flex;
    background-color: var(--greenColor);
    justify-content: center;
}

.footercontainer {
    width: 100%;
    display: flex;
    justify-content: center;

}

.footercontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 73.625rem;
    padding: 3.125rem 8.188rem;
}

.footerlogos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--backgroundColor);
    gap: 1.25rem;
}

.footercopy {
    color: var(--backgroundColor);
}

.portfoliocards {
    max-width: 74.188rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 3.438rem;
    justify-content: center;

}

.portfoliocontent {
    width: 100%;
    display: flex;
    justify-content: center;

}

#buttonportfolio {
    margin-bottom: 6.188rem;
}

.servicesconteiner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 8.438rem;
}

.servicescards {
    display: flex;
    flex-direction: row;
    max-width: 76.688rem;
    width: 100%;
    gap: 6.563rem;
}

.servicescardind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.875rem 1.875rem;
    box-shadow: 0.188rem 0.25rem 0.75rem 0.063rem var(--black-25);
    gap: 3.25rem;
    border-radius: 0.313;
    border: none;


}

.servicecardtext {
    display: flex;
    flex-direction: column;
    max-width: 17.438rem;
    text-align: center;

}

.servicecardchecks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkind {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 0.188rem;

}

.check {
    color: var(--greenColor);
}

.bigfont {
    font-size: var(--fs-h1);
    color: var(--black);
}

input[type=text],
select,
textarea {
    width: 100%;
    margin-top: 1rem;
    border: 0.063rem solid black;
    border-radius: 0.063rem;
    resize: vertical;
    color: var(--black);
    height: 2.375rem;
    display: flex;
    margin-bottom: 1.313rem;
    margin-top: 1.313rem;
}

label {
    color: var(--black);
    font-size: var(--fs-sub);
    margin-bottom: 1.313rem;
    margin-top: 1.313rem;
}

input[type=submit] {
    background-color: var(--black);
    color: var(--backgroundColor);
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    width: 100%;
    padding: 0.688rem 15.688rem;
}

input[type=submit]:hover {
    background-color: var(--black);
    width: 100%;
}

.container {
    border-radius: 0.313rem;
    background-color: #f2f2f2;
    padding: 1.25rem;
}

.contactsections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 73.75rem;
    gap: 1.875rem;

}

.contactcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 5.875rem;

}

.contactcontent {
    display: flex;
    flex-direction: column;
    gap: 1.313rem;

    text-align: left;

}

h4 {
    font-size: var(--fs-h4);
    color: var(--black);
}













@media (max-width: 375px) {


    #menuOverlay {
        position: fixed;
        inset: 0;
        display: none;
        z-index: 9999;
        background: var(--green-25);
    }

    #menuOverlay.open {
        display: block;
        border: none;
    }

    #menuOverlay .menu-panel {
        position: absolute;
        inset: 0;
        background: var(--greenColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.5rem;
        padding: 2rem;
    }

    #menuOverlay .menu-close {
         position: absolute;
  top: 1.094rem;
  right: 1.094rem;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  width: 2.188rem;
  height:2.188rem;
  font-size: 2rem;
  line-height: 1;
  color: var(--white-100);
  cursor: pointer;
    }

    #menuOverlay ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    #menuOverlay a {
        text-decoration: none;
        color: var(--white-100);
        font-family: var(--font-body);
        font-size: 1.25rem;
    }

   

    .no-scroll {
        overflow: hidden;
    }




    .content {
        display: flex;
        flex-direction: column;
        max-width: 20.938rem;
        width: 100%;
    }


    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header ul {
        display: none;
    }

    .headercontent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .headercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.313rem 1.25rem;
    }


    .hamburger {
        display: block !important;
        color: var(--white-100);
        cursor: pointer;
        width: 2.188rem;
        height: 2.188rem;
        padding: 0.479rem 0.342rem;
    }

    .logo {
        max-width: 8.063rem;
        max-height: 2.188rem;
    }

    .bodyContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

    }


    .Section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        background-color: var(--green-100);


    }

    .imageTextcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        max-width: 100%;
        margin-bottom: 5.179rem;
        gap: 1.875rem;

    }

    .imageTextcontentbody {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 5.179rem;
        gap: 1.875rem;

    }

    .textbutton {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 26rem;

    }

    .illuImg {
        max-width: 20.938rem;
    }

    .textColumn {
        width: 100%;
        max-width: 20.938rem;
        margin: 0 auto;
    }

    .blacktexth,
    .blacktextp {
        width: 100%;

    }

    h1 {
        font-size: var(--fs-h3);
        font-family: 'crimson text';
        color: var(--white-100);

    }

    label {
        font-size: var(--fs-label);
        font-family: 'work sans';
        color: var(--white-100);
    }

    p {
        font-size: var(--fs-body);
        font-family: 'work sans';
        color: var(--white-75);
    }

    button {
        font-size: var(--fs-sub);
        font-family: 'work sans';
        color: var(--black-100);
        border: none;
        padding: 0.813rem 2.969rem;
        border-radius: 0.313rem;
        max-width: 10.625rem;
        background-color: var(--backgroundColor);
        cursor: pointer;
    }

    button:hover {
        background-color: var(--black);
        color: var(--backgroundColor);
    }

    .section2 {
        flex-direction: column;
    }


    .colorlogos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: 4.219rem;
        margin-right: 4.219rem;
        gap: 2.5rem;
        max-width: 12.5rem;
    }


    .section4 {
        display: flex;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section4container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 20.938rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.938rem;

    }

    .cardIndiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.25rem 2.438rem;
        background-color: var(--backgroundColor);
        box-shadow: 0.188rem 0.25rem 0.75rem 0.063rem #00000040;
        border-radius: 0.313rem;
        gap: 1.125rem;
    }


    footer {
        display: flex;
        background-color: var(--greenColor);
        justify-content: center;
        width: 100%;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
    }

    .footercontainer {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .footercontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 23.438rem;
        padding-top: 1.938rem;
        padding-bottom: 1.938rem;
        gap: 1.25rem;
    }

    .footerlogos {
        display: flex;
        flex-direction: rows;
        justify-content: flex-start;
        color: var(--backgroundColor);
        gap: 1.25rem;
    }

    .footercopy {
        color: var(--backgroundColor);
        text-wrap: nowrap;
    }

    .portfoliocontent {
        max-width: 20.938rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portfoliocards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.438rem;
    }

    .portfoliocards img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #buttonportfolio {
        margin-bottom: 1.875rem;
    }



    .servicesconteiner {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 21.188rem;
    }

    .servicescards {
        display: flex;
        flex-direction: column;
        max-width: 76.688rem;
        width: 100%;
        gap: 3.125rem;
    }

    .servicescardind {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.875rem 1.875rem;
        box-shadow: 0.188rem 0.25rem 0.75rem 0.063rem var(--black-25);
        gap: 2.813rem;
        border-radius: 0.313;
        border: none;
    }

    .servicecardtext {
        display: flex;
        flex-direction: column;
        max-width: 17.438rem;
        text-align: center;

    }

    .servicecardchecks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .checkind {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 0.25rem;

    }

    .check {
        color: var(--greenColor);
    }

    .bigfont {
        font-size: var(--fs-h1);
        color: var(--black);
    }




    input[type=text],
    select,
    textarea {
        width: 100%;
        margin-top: 1rem;
        border: 0.063rem solid black;
        border-radius: 0.063rem;
        resize: vertical;
        color: var(--black);
        height: 2.375rem;
        display: flex;
        margin-bottom: 1.313rem;
        margin-top: 1.313rem;
    }

    label {
        color: var(--black);
        font-size: var(--fs-sub);
        margin-bottom: 1.313rem;
        margin-top: 1.313rem;
    }

    input[type=submit] {
        background-color: var(--black);
        color: var(--backgroundColor);
        border: none;
        border-radius: 0.313rem;
        cursor: pointer;
        width: 100%;
        padding: 0.688rem 15.688rem;
    }

    input[type=submit] {
        padding: 0.688rem 1rem;
        min-width: 0;
    }


    .contactcontainer {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 3.688rem;


    }

    .contactsections {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 20.938rem;
        gap: 1.875rem;

    }


    .contactcontent {
        display: flex;
        flex-direction: column;
        gap: 1.313rem;
        text-align: left;
        width: 100%;

    }

    .map {
        display: flex;
        width: 100%;
    }





}