* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.header {
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
}

.header-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 105px;
    padding-right: 120px;
    flex-direction: row;
    padding-top: 30px;

}

ul {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 166px;
    padding-right: 124px;
    flex-wrap: nowrap;
}

ul li {
    cursor: pointer;
    /* makes it look clickable */
    display: inline;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    gap: 14px;

}

button {
    max-width: 77px;
    padding: 10px 20px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#clicked {
    max-width: 91px;
    padding: 10px 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    font-family: "inter";
    text-wrap: nowrap;
    cursor: pointer;
}

.second {
    padding-left: 144px;
    padding-right: 144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;

}

.secondcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    gap: 104px;

}

.left-column {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 32px;

}

h1 {
    font-size: 64px;
    font-weight: 600;
}

.imageright {
    max-width: 391px;
    align-self: center;
    display: flex;
    padding-right: 144px;
}

@media only screen and (max-width: 768px) {

    .secondcontainer,
    .header-container,
    .second {
        padding-left: 30px;
        padding-right: 30px;

    }

    .secondcontainer {
        flex-direction: column;
        padding-top: 30px;

    }

    .left-column {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    h1 {
        font-size: 34px;
    }

    .header-container {
        max-width: 768px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;

    }

    .header-container {
        padding-top: 3px;
    }

}


.clients-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
}

.clients-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.clients-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 152px;

}

.manage-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

.manage-text {
    display: flex;
    flex-direction: column;
    max-width: 542px;
    text-wrap: wrap;
}

.manage-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 16px;
    margin-bottom: 42px;
    border-radius: 8px;
    border: none;
    gap: 127px;
}

.manage-each {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
    padding: 24px 16px;
}

.unseen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.unseenleft {
    max-width: 442px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.unseenright {
    max-width: 661px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    text-align: left;
}

.unseenright button {

    padding-top: 14px;
    padding-left: 32px;
    padding-bottom: 14px;
    padding-right: 32px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    max-width: 151px;
}

.help-container {
    padding-top: 64px;
    padding-left: 144px;
    padding-right: 144px;
    padding-bottom: 64px;
    gap: 204px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 247, 250, 1);
}

.help-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    max-width: 408px;
}

.cards-top .cards-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 40px;

}

.help-container-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: left;
    max-width: 540px;
}

.help-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: left;
    max-width: 540px;
}

.help-members-each {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cardimg {
    max-width: 48px;
}

.tesla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 48px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 144px;
    padding-right: 144px;
    gap: 78px;
    background-color: rgba(245, 247, 250, 1);

}

.teslaright {
    max-width: 326px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 748px;
    display: flex;
    flex-direction: column;
}

.logos-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.teslabutton {
    max-width: 223px;
    text-align: inline;
    background-color: rgba(245, 247, 250, 1);
    padding: 0;
}

.carring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 48px;
    padding-bottom: 95px;
    max-width: 1440px;
}

.carring-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 48px;
    padding-bottom: 95px;
    max-width: 1440px;
    max-height: 366px;
}

.carring-text {
    max-width: 628px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
}

.carring-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 95px;

}

.carring-card-each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
}

.carring-each-text {
    z-index: 2;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    max-width: 317px;
    text-align: center;
    margin-top: -99px;
    box-shadow: 0 8px 16px 0 rgba(171, 190, 209, 0.4);
    border-radius: 8px;
}

.carring-image {
    max-width: 368px;
    align-self: top;
}

.pellen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    background-color: rgba(245, 247, 250, 1);
    padding-top: 32px;
    margin-top: 94px;
}

.pellen-text {
    max-width: 887px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    flex-direction: column;
    padding-bottom: 32px;

}

#demobutton {
    max-width: 178px;
    text-align: inline;
    background-color: green;
    color: white;
    padding: 0;
    text-wrap: nowrap;
    padding: 14px 32px;
}

.footer {
    background-color: rgba(38, 50, 56, 1);
    color: rgba(245, 247, 250, 1);
}

.footer-cont {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 164px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    text-align: left;
}


.footerleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 350px;
}

.footertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.footercenter {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.company,
.support {
    display: flex;
    flex-direction: column;
}

.footercenter h4 {
    margin: 0 0 12px;
    font-weight: 600;
}

.footercenter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
}


.footerright .footerrightcont {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footersocial {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

input {
    background-color: gray;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    max-width: 255px;
}