* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.header {
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
}

.header-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 105px;
    padding-right: 120px;
    flex-direction: row;
    padding-top: 30px;

}

ul {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 166px;
    padding-right: 124px;
    flex-wrap: nowrap;
}

ul li {
    cursor: pointer;
    /* makes it look clickable */
    display: inline;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    gap: 14px;

}

button {
    max-width: 77px;
    padding: 10px 20px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#clicked {
    max-width: 91px;
    padding: 10px 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    font-family: "inter";
    text-wrap: nowrap;
    cursor: pointer;
}

.second {
    padding-left: 144px;
    padding-right: 144px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F7FA;

}

.secondcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 96px;
    padding-bottom: 96px;
    width: 100%;
    gap: 104px;

}

.left-column {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 32px;

}

h1 {
    font-size: 64px;
    font-weight: 600;
}

.imageright {
    max-width: 391px;
    align-self: center;
    display: flex;
    padding-right: 144px;
}

@media only screen and (max-width: 768px) {

    .secondcontainer,
    .header-container,
    .second {
        padding-left: 30px;
        padding-right: 30px;

    }

    .secondcontainer {
        flex-direction: column;
        padding-top: 30px;

    }

    .left-column {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    h1 {
        font-size: 34px;
    }

    .header-container {
        max-width: 768px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
        
    }

    .header-container {
        padding-top: 3px;
    }

}