* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: url("/2/img/background.jpg") no-repeat center center / cover;
    background-position: top;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 20px 300px;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 16px;
}

.logo {
    max-width: 208px;
    max-height: 56px;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 48px;
}

li.contact {
    background-color: #A53DFF;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.bodyfirst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding: 126px 0;
    gap: 136px;

}

mark {
    background-color: pink;
}

.containerleft {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 648px;
}

.text1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tittle1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 84px;

}

.description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 48px;
    background-color: #A53DFF;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.button1 {
    display: flex;
    width: 648px;
    margin-top: 24px;
    color: #424E60;
}

.button1 .box {
    flex: 1;
    text-align: center;
    padding: 16px;
    background: rgba(237, 216, 255, 0.5);
    min-width: 0;
}

.button1 .box+.box {
    border-left: 1px solid white;
}

.fifteen,
.fifty,
.fiftyeight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: rgba(237, 216, 255, 0.5);
    border-radius: 8px;
    text-align: center;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}
.portrait-container {
    position: relative;          

}

.portrait2 {
    display: block;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

#socials {
    position: absolute;
    bottom: -36px;               
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: white;
    width: 264px;
    height: 72px;
    border: 1px solid #A53DFF;
    border-radius: 8px;
}

.facebook, .instagram, .behance, .ball, .linkedin {
    font-size: 24px;
    line-height: 32px;
    color: #A53DFF;
    cursor: pointer;
    margin: auto;
}

.linkedin {
    background-color: #A53DFF;
    color: white;
    padding: 8px;
    border-radius: 4px;
}



.second-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    padding: 64px 112px;
    gap: 136px;
}

.contentright {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 536px;
}

.iam {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
}

.description2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.buttons2 {
    display: flex;
    gap: 16px;
}

.myproject,
.downloadcv {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.myproject {
    width: 132px;
    background-color: #A53DFF;
    color: white;
    border: none;
}

.downloadcv {
    width: 190px;
    background-color: white;
    color: #A53DFF;
    border: 1px solid #A53DFF;
}



.third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 140px 300px;
    gap: 136px;
}


.thirdleft {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 529px;
}

.workprocess {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #132238;
}

.lorem {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #87909D
}

.researchcard {
    background-color: whitesmoke;
    width: 312px;
    height: 276px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 24px;
    margin-top: 0;
}

.inner-researchcard {
    padding: 32px;
}

.designcard {
    background-color: whitesmoke;
    width: 312px;
    height: 276px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 24px;
    margin-bottom: 0;
}

.inner-designcard {
    padding: 32px;
}

.analyzecard {
    background-color: whitesmoke;
    width: 312px;
    height: 276px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 24px;
}

.inner-analyzecard {
    padding: 32px;
}

.launchcard {
    background-color: whitesmoke;
    width: 312px;
    height: 276px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 24px;
    margin-bottom: 0;
}

.inner-launchcard {
    padding: 32px;
}

.calendar {
    color: rgb(165, 61, 255);
    background-color: white;
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    border: none;
    border-radius: 6px;
}

.text-calendar {
    padding-top: 32px;
}

.calendar {
    color: #fff;
    background-color: #A53DFF;
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    border: none;
    border-radius: 6px;
}

.launch {
    color: rgb(165, 61, 255);
    background-color: rgb(229, 206, 236);
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    border: none;
    border-radius: 6px;
}

.analyze {
    color: rgb(165, 61, 255);
    background-color: rgb(229, 206, 236);
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    border: none;
    border-radius: 6px;
}

.design {
    color: rgb(165, 61, 255);
    background-color: rgb(229, 206, 236);
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    border: none;
    border-radius: 6px;
}


.columnright {
    padding-top: 24px;
    margin-left: 0;
    padding-left: 0;


}

.thirdright {
    display: flex;
    flex-direction: row;
}


/* portfolio */
.portfolio-section {
    width: 1320px;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio-text {
    width: 577px;
    margin: 0 auto;

}

.portfolio-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.portfolioh {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.portfoliop {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #87909D;
}

.portfolio-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 70px;
}

.portfolio-top,
.portfolio-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-card {
    width: 416px;
    background: #fff;
    border-radius: 16px;
    border: 1px, solid #E6E8EB;
    padding: 24px;
}

.portfolio-top-1,
.portfolio-top-2,
.portfolio-top-3,
.portfolio-bottom-1,
.portfolio-bottom-2,
.portfolio-bottom-3 {
    width: 424px;
    height: 476px;
    background-color: whitesmoke;
    border: solid, 1px, #E6E8EB;
    border-radius: 8px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600px;
    margin-left: 32px;
}

#portfolio-p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
    margin-left: 32px;
    color: #556070;
}

#portfolio-button {
    margin-left: 32px;
    margin-bottom: 32px;
    margin-top: 20px;
    color: #A53DFF;
    border: 1px, solid, #A53DFF;
    border-radius: 4px;
    width: 173px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#portfolio-image {
    margin-bottom: 32px;
}

#portfolio-button1 {
    width: 149px;
    height: 48px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #A53DFF;
}